@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap');

:root {
    --primary-color: #7EBC03;
    --secondary-color: #000000;
    --tertiary-color: #973128;
    --box-border: 3px solid var(--primary-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, button, input {
    font-family: "Doto", sans-serif;
    font-weight: 600;
    transition: 0.1s steps(3, end) all;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-height: 100vh;
    color: #fff;
    background-color: var(--secondary-color);
    cursor: default;
}

button {
    cursor: pointer;
}

dialog {
    position: fixed;
    inset: 0;
    max-width: 100vw;
    max-height: 100dvh;
    margin: auto;
    border: none;
    overflow: hidden;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: rgba(0, 0, 0, 0.9);
}
dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

form {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

form button {
    color: white;
    background-color: transparent;
    border: none;
}

input {
    font-weight: 800;
    font-size: 1.4rem;
    padding: 10px;
    color: white;
    background-color: transparent;
    border: none;
    outline: 2px dotted var(--primary-color);
}
input:focus {
    outline: 3px dashed var(--primary-color);
}

label {
    cursor: pointer;
}

.hover {
    color: var(--primary-color);
}



#start-form {
    gap: 98px;
}

#start-form > #title {
    font-size: 3.5rem;
    font-weight: 900;
    color: var(--primary-color);
}

#start-form > .inputs {
    display: flex;
    justify-content: center;
    gap: 160px;
    font-size: 1.6rem;
}

#start-form .inputs > .player1-input, #start-form .inputs > .player2-input {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

#start-form .secondary-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 14px;
}

#start-form .secondary-inputs > .chooser{
    display: flex;
    gap: 46px;
}

#start-form .secondary-inputs > .chooser > button {
    font-size: 1.15rem;
    font-weight: 700;
}
#start-form .secondary-inputs > .chooser > button:nth-child(1) {
    color: var(--primary-color);
    font-weight: 900;
}
#start-form .secondary-inputs > .chooser > button:nth-child(2) {
    opacity: 55%;
    font-weight: 300;
    cursor: not-allowed;
}
#start-form .secondary-inputs > .chooser > button:nth-child(1):hover {
    text-decoration: underline overline;
    text-decoration-style: dashed;
    text-underline-offset: 4px;
}

#start-form > #submit-btn {
    font-size: 2rem;
    font-weight: 900;
    color: var(--primary-color);
}
#start-form > #submit-btn:hover {
    text-decoration: underline overline;
    text-decoration-style: dashed;
    text-underline-offset: 10px;
}

#second-form {
    gap: 68px;
}

#second-form > #phrase {
    font-size: 3.5rem;
    font-weight: 900;
    color: var(--primary-color);
}

#second-form > .btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 38px;
}

#second-form button {
    font-size: 1.5rem;
    font-weight: 900;
    color: var(--tertiary-color);
}
#second-form button:hover {
    text-decoration: underline overline;
    text-decoration-style: dashed;
    text-underline-offset: 10px;
}

.top-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 28px;
}

.top-container > .game-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

.top-container > .game-info, .top-container > #round-info {
    font-size: 1.8rem;
}

.top-container > #round-info {
    color: var(--tertiary-color);
    font-weight: 900;
}

.middle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.middle-container > .player-info {
    font-size: 1.5rem;
    font-weight: 400;
}

.middle-container > #player1-info {
    font-weight: 700;
    color: var(--primary-color);
}

.gameBoard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 300px;
    height: 300px;
}

.square {
    width: 100px;
    height: 100px;
    font-size: 2rem;
    font-weight: 900;
    background-color: transparent;
    /* color: var(--primary-color);  */
    border: none;
    cursor: pointer;
}
.square:disabled {
    opacity: 100%;
    color: var(--primary-color);
}
.square.middle {
    border-top: var(--box-border);
    border-bottom: var(--box-border);
}
.square.center {
    border-left: var(--box-border);
    border-right: var(--box-border);
}

#reset-btn {
    font-size: 1.1rem;
    font-weight: 900;
    padding: 14px 35px;
    border-radius: 1px;
    color: var(--secondary-color);
    background-color: var(--tertiary-color);
    border: none;
}
#reset-btn:hover {
    background-color: var(--primary-color);
}